.container {
  width: calc(100% - 250px);
  min-height: 60vh;
  margin-bottom: 5em;
  float: right;
}

.container_NX {
  width: calc(100% - 80px);
}

/* animation */

@keyframes spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ---------------------------------- */
@media screen and (max-width: 768px) {

  .container {
    width: calc(100% - 200px);
    min-height: 60vh;
    margin-bottom: 5em;
    float: right;
  }

  .container_NX {
    width: calc(100% - 80px);
  }
}

@media screen and (max-width: 600px) {

  .container {
    width: 100%;
    min-height: 60vh;
    margin-bottom: 5em;
    float: right;
  }
}